{% extends "base.html" %}

{% block title %}Detail{% endblock %}

{% block content %}
<h2>{{ post.title }}</h2>
<p>{{ post.content }}</p>
<ul>
    <li><a href="{% url "post:edit" post_id=post.id%}">수정</a></li>
    <li><a href="{% url "post:delete" post_id=post.id%}">삭제</a></li>
    {% if post.image %}
        <img src="{{ post.image.url }}"/>
    {% endif %}
</ul>
<p>Total Comment: {{ post.comment_set.count }}</p>
<ul>
    {% for post_comment in post.comment_set.all %}
    <li id="comment-{{ post_comment.id }}">
        {% if post_comment == comment %}
            <form action="{% url "comment:comment-update" post_id=post.id comment_id=comment.id %}" method="POST">
                {% csrf_token %}
                <input type="text" name="content" value="{{ comment.content}}">
                <input type="submit" value="수정">
            </form>
        {% else %}
            {{ post_comment.content }} 
            <a href="{% url "comment:comment-edit" post_id=post.id comment_id=post_comment.id %}">Edit</a>
            <a href="{% url "comment:comment-delete" post_id=post.id comment_id=post_comment.id %}">Delete</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<h2>New Comment</h2>
<form action="{% url "comment:comment-create" post_id=post.id %}" method="POST">
    {% csrf_token %}
    <input type="text" name="content">
    <input type="submit" value="댓글달기">
</form>
{% endblock %}
