{% extends "base.html" %}

{% block title %}list{% endblock %}

{% block content %}
<ul>
    {% for post in posts_list %}
    <li>
    <img src="{{ post.get_image_url }}" width=350 height=150 alt="{{ post.title }}"/>
        <a href="{% url "post:detail" post_id=post.id%}">
            <h2>
                <span>{{ post.title }} ({{ post.comment_set.count }})</span>
            </h2>
        </a>
    </li>
    </li><span>{{ post.content }}<span></li>
    {% endfor %}
</ul>
{% for i in page_list %}
    <a href="/posts/?page={{ i }}&per={{ per }}">{{ i }}</a>
{% endfor %}
{% endblock %}
