{% extends "base.html" %}

{% block title %}naver crawl list {% endblock %}

{% block content %}
    <h1> NaverPost</h1>
    
    <p>{{ post_list|length }}개의 데이터가 존재합니다.</p>

    {% if keyword %}
        <p>{{ keyword }}로 크롤링된 결과입니다.</p>
    {% endif %}

    {% if query %}
        <p>{{ query }}가 포함된 결과 입니다.
    {% endif %}

    <ul>
    {% for blog in post_list %}
        <li style="clear:both; list-style-type:none;">
            <img src="{{ blog.thumbnail_image_url}}" />
            <b>{{ blog.keyword }}</b>
            <a href="{{ blog.original_url }}" target="_blank">{{ blog.title }}</a>
            <p>{{ blog.content }}</p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
