{% extends "base.html" %}

{% block title%} My page {% endblock %}

{% block content%}
<h1>My Page</h1>
<p>{{ request.user.username}}의 마이페이지</p>

<h2>내가 쓴글({{ request.user.post_set.count }})</h2>
<ul>
    {% for post in request.user.post_set.all %}
    <li>
        <a href="{% url "post:detail" post_id=post.id %}">{{ post.title}}</a>
    </li>
    {% endfor %}
</ul>
<h2>내가 쓴 댓글</h2>
<ul>
    {% for post in request.user.post_set.all %}
        {% if post.comment_set.count > 0 %}
            <p>{{post.title}}</p>
            {% for comment in post.comment_set.all %}
            <li>
                <a href="{{ comment.get_absolute_url }}">{{ comment.content }}</a>
            </li>
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}
